@import "tailwindcss";

@keyframes scrollRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scroll-right {
    animation: scrollRight 40s linear infinite;
    white-space: nowrap;
  }
  
  .scroll-left {
    animation: scrollLeft 40s linear infinite;
    white-space: nowrap;
  }
  
  /* Add to marquee animations */
.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
  will-change: transform; /* Add this for smoother rendering */
}